@charset "UTF-8";

/*------------------------*/
/*--------home.css--------*/
/*------------------------*/


/* エラーメッセージ表示場所 */
.msg-area {
	min-height: 20px;
	margin-bottom: 8px;
	padding: 0 12px;
	background-color: white;
	color: #e33c6b;
	font-weight: 500;
}


/* 画面配置を、左にナビ・タスク右に工数ログにする*/
.home-layout {
	display: flex;
	align-items: flex-start;
	gap: 22px;
}

.home-main {
	width: 720px;
	flex-grow: 1;
}

.home-side {
	width: 360px;
	padding-left: 18px;
	border-left: 5px solid 5#29988B;
}


.nav-area {
	display: flex;
	flex-wrap: wrap;
	gap: 12px;
}

.nav-card {
	width: 310px;
	min-height: 92px;
	flex-grow: 1;
	border-left: 14px solid #F07E9B;
	border-radius: 4px;
	transition: 0.2s;
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.4);
	background-color: #fff;
	transition: 0.1s;
}

.nav-card:hover {
	scale: 1.0125;
}

.nav-card a {
	min-height: 92px;
	padding: 16px 16px;
	display: flex;
	align-items: center;
	gap: 16px;
	color: #4E4D4C;
	font-size: 18px;
	font-weight: bold;
	text-decoration: none;
}

.home-work-log {
	display: grid;
	gap: 8px;
	border-bottom: 2px solid #e1e5e3;
}

.work-log-card {
	cursor: pointer;
	padding: 10px 0;
	display: flex;
	align-items: center;
	border-radius: 4px;
	border-left: 6px solid #F39F59;
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
	background-color: #fff;
	transition: 0.1s;
}

.work-log-card:hover {
	scale: 1.0125;

}



.home-work-log-time {
	font-size: 14px;
	font-weight: 650;
	margin-left: 8px;
}

.home-work-log-name {
	width: 150px;
}

.home-work-log-date {
	color: #4E4D4C;
	font-size: 12px;
	margin-right: 8px;
	text-align: right;
}

.card-area {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.task-card {
	cursor: pointer;
	display: flex;
	flex-direction: column;
	gap: 2px;
	padding: 8px 16px;
	background-color: #fff;
	border-left: 14px solid #29988B;
	border-radius: 4px;
	transition: 0.2s;
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.4);
}

.task-card:hover {
	scale: 1.0125;
}



.task-title {
	margin: 0;
	font-size: 12px;
}

.task-link {
	color: #4E4D4C;
	text-decoration: none;
	border: none;
	font-size: 22px;
}

.task-link:active {
	text-decoration: none;
	border: none;
}

.task-card-info {
	display: flex;
	flex-wrap: wrap;
	gap: 16px;
	align-items: center;
	font-size: 14px;
	color: #4E4D4C;
}

.status {
	padding: 2px 6px;
	width: 64px;

	text-align: center;
	border-radius: 45px;
	font-size: 12px;
	color: #fff;
	background-color: #F07E9B;
}

.task-progress {
	display: flex;
	align-items: center;
	gap: 4px;
}

.progress-bar {
	flex-grow: 1;
	height: 12px;
}

.progress-text {
	color: #4E4D4C;
	font-size: 18px;
	min-width: 35px;
	text-align: right;
	font-weight: 650;
}

.task-actions {
	display: flex;
	justify-content: flex-end;
	gap: 8px;
	margin-top: 4px;
}

.btn {
	padding: 4px 14px;
	border-radius: 2px;
	cursor: pointer;
	font-size: 14px;
	font-weight: 500;
	transition: 0.2s;
	width: 90px;
}

.work-btn {
	background-color: #29988B;
	color: #fff;
	border: 1px solid #29988B;
}

.work-btn:hover {
	background-color: #fff;
	color: #29988B;
	border: 1px solid #29988B;
}

.delete-btn {
	background-color: #fff;
	color: #F39F59;
	border: 1px solid #F39F59;
}

.delete-btn:hover {
	background-color: #F39F59;
	color: #fff;
}


.hidden {
	opacity: 0;
}


/* 優先度：低 */
.task-card.priority-low {
    border-left: 14px solid #356899;
}

/* 優先度：中 */
.task-card.priority-medium {
    border-left: 14px solid #F1C24A;
}

/* 優先度：高 */
.task-card.priority-high {
    border-left: 14px solid #D84343;
}


.font-big {
	font-size: 28px;
	font-weight: 650;
}




