@charset "UTF-8";

/*-------------------------------*/
/*--------work_regist.jsp--------*/
/*-------------------------------*/

/* 登録ボタン */
.regist-btn {
	display: block;
	background-color: #29988b;
	color: #fff;
	border-radius: 2px;
	border: 1px solid #29988b;
	height: 48px;
	width: 380px;
	font-size: 16px;
	font-weight: 650;
	margin: 24px auto 0 auto;
	padding: 0;
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.4);
	cursor: pointer;
	transition: 0.2s;
}

.regist-btn:hover {
	color: #29988b;
	background-color: #fff;
	border: 1px solid #29988b;
}

.work-regist-area {
	width: 900px;
	margin: 0 auto;
}


/* 案件名・タスク名表示 */
.work-target-card {
	height: 96px;
	margin-bottom: 20px;
	padding: 16px 24px;
	align-items: center;
	gap: 24px;
	background-color: #fff;
	border-left: 14px solid #F39F59;
	border-radius: 4px;
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

.work-project-name {
	min-width: 0;
	font-size: 20px;
	font-weight: 650;
	text-align: center;
	color: #4E4D4C;
	overflow: hidden;
	text-overflow: ellipsis;
}


.work-task-name {
	min-width: 0;
	font-size: 20px;
	font-weight: 650;
	text-align: center;
	color: #4E4D4C;
	overflow: hidden;
	text-overflow: ellipsis;
}


/* 日付・作業内容入力 */
.work-input-row {
	margin-bottom: 20px;
	display: flex;
	gap: 20px;
}

.work-input-group {
	min-width: 0;
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	width: 440px;
}

.work-input-title {
	margin-bottom: 8px;
	font-size: 16px;
	font-weight: 650;
	color: #4E4D4C;
}

.work-input {
	width: 100%;
	height: 48px;
	margin: 0;
	padding: 0 14px;
	background-color: #fff;
	color: #4E4D4C;
	border: 1px solid #bbb;
	border-radius: 4px;
	font-size: 14px;
	outline: none;
	transition: 0.2s;
}

.work-input:hover {
	border-color: #4E4D4C;
}

.work-input:focus {
	border-color: #29988B;
}

/* 案件名・タスク名表示 */
.work-target-card {
	height: 108px;
	margin-bottom: 20px;
	padding: 16px 24px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: stretch;
	background-color: #fff;
	border-left: 14px solid #F39F59;
	border-radius: 4px;
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

.work-target-area {
	min-width: 0;
	padding: 0 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}


.work-target-label {
	margin: 0 0 6px 0;
	color: #777;
	font-size: 12px;
	font-weight: 650;
}

.work-project-name,
 .work-task-name {
	 width: 100%;
	 margin: 0;
	 overflow: hidden;
	 color: #4E4D4C;
	 font-size: 20px;
	 font-weight: 650;
	 text-align: center;
	 text-overflow: ellipsis;
	 white-space: nowrap;	 
 }


/* 工数入力カード */
.work-slider-card {
	padding: 20px;
	display: grid;
	grid-template-columns: 1fr auto;

	/* タイトル右上、工数時間左、バーを下にバーっと配置 */
	grid-template-areas:
		"title time"
		"slider slider";
	gap: 14px 20px;
	background-color: #fff;
	border-left: 14px solid #29988B;
	border-radius: 4px;
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.4);
}

.work-slider-title {
	grid-area: title;
	align-self: center;
	margin: 0;
	font-size: 16px;
	color: #4E4D4C;
}

.work-slider {
	grid-area: slider;
	width: 100%;
	height: 12px;
	margin: 7px 0;
	accent-color: #29988B;
	cursor: pointer;
}

.work-time-display {
	grid-area: time;
	padding: 2px 6px;
	width: 84px;

	text-align: center;
	border-radius: 45px;
	font-size: 16px;
	color: #fff;
	background-color: #F07E9B;
}


/* メッセージ表示場所 */
.work-message-area {
	height: 28px;
	margin-top: 12px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.work-error-message {
	margin: 0;
	color: #e33c6b;
	font-weight: 500;
}